@media (max-width: 1000px) {
  .slider__inner::before,
  .slider__inner::after {
    display: none;
  }
}

@media (max-width: 900px) {
  .item__text {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .article__items {
    display: block;
  }
  .article__item {
    width: 100%;
    margin: 20px auto;
  }
  .article__items-title {
    padding: 40px 0px 0px 0px;
    margin: 0px auto;
    width: auto;
    text-align: center;
  }
  .article__items-text {
    margin: 25px 0px;
  }

  .article__btn,
  .article__item {
    padding: 0;
    margin: 0px auto;
    width: auto;
    text-align: center;
  }
  .article__btn a {
    font-size: 14px;
    padding: 15px 40px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .article__items-title.article-1::before,
  .article__items-title.article-2::before,
  .article__items-title.article-3::before {
    margin-top: -60px;
  }

  .article__items-title.article-1::before {
    margin-left: 127px;
  }

  .article__items-title.article-2::before {
    margin-left: 150px;
  }

  .article__items-title.article-3::before {
    margin-left: 160px;
  }
}

@media (max-width: 560px) {
  .header:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 15;
  }
  .header__menu-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__menu-btn::before,
  .header__menu-btn::after,
  .header__menu-btn span {
    content: "";
    background-color: #e8603c;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .header__menu-btn::before {
    top: 0;
  }
  .header__menu-btn::after {
    bottom: 0;
  }
  .header__menu-btn span {
    top: 9px;
    width: 70%;
    margin: 0 auto;
  }
  .header__menu-btn.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__menu-btn.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu-btn.active span {
    transform: scale(0);
  }

  .header__menu ul {
    display: none;
    position: absolute;
    z-index: 20;
    top: 78px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #e8603c;
    border-bottom: 5px solid #fff;
  }
  .header__menu li {
    display: block;
    text-align: center;
  }
  .header__menu li + li {
    border-top: 1px solid #e8d9d9;
    margin: 30px;
  }

  .header__menu a {
    padding-top: 20px;
    text-align: center;
    color: #fff;
  }
  .header__menu a:focus {
    color: #f3af9d;
  }

  .item__text {
    max-width: 100%;
    left: 0;
    bottom: 0px;
  }

  button.slick-next,
  .slick-next:hover,
  .slick-next:focus,
  button.slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    display: none;
  }
  .article__items-title.article-2 {
    padding: 60px 0px 0px 0px;
  }
  .article__items-title.article-3 {
    padding: 80px 0px 0px 0px;
  }

  .article__btn a {
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .thumbs {
    display: none;
  }
  .slider__inner {
    margin-bottom: 50px;
  }
}
