@font-face {
  font-family: "Bebas";
  src: url(../fonts/Bebas.ttf);
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
  font-family: "Helvetica Light";
  src: url(../fonts/HelveticaLt.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #b9b9b9;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Bebas;
  font-weight: 400;
}

a:hover {
  color: #e8603c;
  transition: all 0.5s;
}

.header__menu li + li {
  margin-left: 28px;
}

.slider__item {
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.item__text {
  position: absolute;
  font-size: 12px;
  color: #fff;
  max-width: 411px;
  background-color: rgb(232, 102, 60, 0.8);
  padding: 25px 20px;
  left: 35px;
  bottom: 35px;
}

.item__text__title {
  font-size: 18px;
  padding: 0 0 20px;
}

.slider__inner {
  margin-bottom: 17px;
  position: relative;
}
.slider__inner::before,
.slider__inner::after {
  content: "";
  background-color: rgba(232, 96, 60, 0.5);
  position: absolute;
  height: 60px;
  width: 100%;
}

.slider__inner::before {
  right: 100%;
  margin-right: 10px;
}
.slider__inner::after {
  left: 100%;
  margin-left: 10px;
  top: 0;
}

.thumbs {
  margin-bottom: 40px;
}

.thumbs__item {
  width: 140px;
  height: 120px;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-prev,
.slick-next {
  z-index: 10;
  height: 50px;
  width: 35px;
  top: 40%;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background-image: url(../images/slider-arrow-prev.svg);
  left: 25px;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  background-image: url(../images/slider-arrow-next.svg);
  right: 25px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
.article__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.article__item {
  width: 277px;
  max-height: 270px;
}
.article__items-title {
  color: #e8663c;
  font-size: 18px;
  line-height: 24px;
  width: 277px;
  padding-left: 70px;
  margin-bottom: 40px;
  position: relative;
}
p {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 18px;
}
.article__btn a {
  color: #fff;
  background-color: #e8603c;
  font-size: 12px;
  padding: 8px 20px;
  line-height: 24px;
}
.article__items-title.article-1::before {
  content: "";
  background-image: url(../images/article-icon-1.png);
  position: absolute;
  width: 46px;
  height: 46px;
  margin-left: -70px;
  margin-top: 5px;
}
.article__items-title.article-2::before {
  content: "";
  background-image: url(../images/article-icon-2.png);
  position: absolute;
  width: 49px;
  height: 41px;
  margin-left: -70px;
  margin-top: 5px;
}

.article__items-title.article-3::before {
  content: "";
  background-image: url(../images/article-icon-3.png);
  position: absolute;
  width: 42px;
  height: 40px;
  margin-left: -70px;
  margin-top: 5px;
}

.project__wrapper {
  margin-bottom: 50px;
}

.project__title {
  color: #e8663c;
  margin-bottom: 30px;
}

.project__items {
  display: flex;
  justify-content: space-between;
}

.project__img {
  max-height: 180px;
  width: 220px;
}
.progect__links {
  border: 1px solid #b9b9b9;
  border-top: none;
}
.progect__links-title {
  padding: 15px 0px 6px 15px;
}
.progect__links__date {
  color: #e8663c;
  padding: 0px 0px 15px 15px;
  font-size: 11px;
}

.footer {
  background-color: #e8603c;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  max-width: 260px;
}
.footer__item-title {
  font-size: 20px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 30px;
}
.footer__item-content {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

.link__twitter a {
  display: block;
  margin-bottom: 10px;
  color: #f1b09b;
}
.footer__item-content a {
  margin-top: 20px;
}

.footer__item-content span {
  font-family: Helvetica Light, sans-serif;
  color: #fff;
}
