@font-face {
  font-family: "Bebas";
  src: url(../fonts/Bebas.ttf);
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.ttf);
}

html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #b9b9b9;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;

  background-color: pink;
}
.title {
  font-family: Bebas;
}
.header__inner {
  margin: 0 auto;
  height: 78px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__logo a {
  font-size: 36px;
  color: #f3af9d;
}
.accent-color {
  color: #e8603c;
}
.header__menu li + li {
  margin: 28px;
}
